@model IEnumerable<AptechShoseShop.Models.Entites.TbUser>

@{
    ViewBag.Title = "Quản lý user";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý user</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table id="tblCate" class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Số ĐT
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr id="HideUser-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @{
                        var gender = item.Gender == null ? "" : (item.Gender == true ? "Nam" : "Nữ");
                        <p>@gender</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @{
                        string colorX = item.StatusId == 1 ? "btn-success" : "btn-danger";
                        <input style="padding: 2px" class="btn @colorX" type="button" name="StatusId" value="@item.Status.StatusName" />
                    }

                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                    <span>
                        <button class="btn btn-info" onclick="DeleteUser('@item.Id')">Xóa</button>
                    </span>
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    function DeleteUser(id) {
            swal({
                title: "Are you sure?",
                text: "Nếu xóa, bạn sẽ ko thể khôi phục lại!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "@Url.Action("Delete")",
                            type: "post",
                            data: {
                                id: id
                            },
                            success: function (result) {
                                if (result === "OK") {
                                    swal("Poof! Your imaginary file has been deleted!", {
                                        icon: "success",
                                    });
                                    // ẩn doituong-id
                                    $("#HideUser-" + id).hide();
                                }
                            },
                            error: function () {
                                swal("User này đang được dùng trong lịch sử mua hàng");
                            }
                        });


                    } else {
                        swal("Ban chua xoa");
                    }
                });
    };
</script>