@model IEnumerable<AptechShoseShop.Models.Entites.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Toàn bộ danh mục</h2>
@Html.Partial("_Create")

<p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#_createCate">Thêm danh mục</button>
</p>


<table id="tblCate" class="table">
    <tr>
        <th>
            Tên danh mục
        </th>
        <th>
            Vị trí hiển thị danh mục
        </th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr id="HideCate-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    <span>
                        <button class="btn btn-info" data-toggle="modal" data-target="#_editCate-@item.Id">Chỉnh sửa</button>


                    </span>
                    @*@Html.Partial("_EditCate")*@
                    <span>
                        <button class="btn btn-danger" onclick="DeleteCate('@item.Id')">Xóa</button>

                    </span>
                </td>
            </tr>
            @Html.Action("_EditCate", new { id = item.Id })
        }
    </tbody>

</table>

<script type="text/javascript">

    function DeleteCate(id) {
            swal({
                title: "Are you sure?",
                text: "Nếu xóa, bạn sẽ ko thể khôi phục lại!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "@Url.Action("DeleteCate")",
                            type: "post",
                            data: {
                                id: id
                            },
                            success: function (result) {
                                if (result === "OK") {
                                    swal("Bạn đã xóa danh mục này!", {
                                        icon: "success",
                                    });
                                    // ẩn doituong-id
                                    $("#HideCate-" + id).hide();
                                }
                                else {
                                    swal("Thông báo!","Bạn không có quyền xóa danh mục này!","warning");
                                }
                                
                            },
                            error: function () {
                                alert('error; ');
                            }
                        });

                    } else {
                        swal("Bạn chưa xóa");
                    }
                });
    };
</script>