@model IEnumerable<AptechShoseShop.Models.Entites.Banner>
@{
    ViewBag.Title = "Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Banner Management</h2>

<div class="row">
    <div class="col-5">
        <a class="btn btn-info" href="/Admin/Banners/create">Create new</a>
    </div>
    <div class="col-7">
        <h4>instructions</h4>
        <ul>
            <li>The position is position that image appear in Home page</li>
            <li>You don't need to change the position</li>
            <li>Just change image and tittle</li>
        </ul>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Banner Information</th>
            <th>Position</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                string src = "";

                if (item.UrlImageBanner != null)
                {
                    src = "/data/banners/" + item.Id + "/" + item.UrlImageBanner;
                }
                else
                {
                    src = "https://www.viettablet.com/images/companies/1/anh3/galaxy-s7-edge-01.jpg";
                }
                <tr id="HideBanner-@item.Id">

                    <td>
                        <img src="@src" style="width:200px" />
                    </td>
                    <td>
                        <div>#ID: @item.Id</div>
                        <div>@item.Name</div>
                        <div>@item.Description</div>
                        <div>@item.LinkBanner</div>
                    </td>
                    <td>@item.Position</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id})"><i class="fas fa-edit"></i></a>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                        @*<a class="btn btn-warning" onclick="DeleteBanner('@item.Id')">Xóa</a>*@
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<script type="text/javascript">

    function DeleteBanner(id) {
            swal({
                title: "Are you sure?",
                text: "Nếu xóa, bạn sẽ ko thể khôi phục lại!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "@Url.Action("DeleteBanner")",
                            type: "post",
                            data: {
                                id: id
                            },
                            success: function (result) {
                                console.log(result);
                                if (result === "OK") {
                                    swal("Ảnh của bạn đã được xóa!", {
                                        icon: "success",
                                    });
                                    // ẩn doituong-id
                                    $("#HideBanner-" + id).hide();
                                }


                                else {alert(result)}
                            }
                        });


                    } else {
                        swal("Bạn chưa xóa");
                    }
                });
    };
</script>

