@model IEnumerable<AptechShoseShop.Models.Entites.Category>
@using AptechShoseShop.Models.Entites;
@{
    List<Size> listSize = ViewBag.Size;
    List<Color> listColor = ViewBag.Color;
}
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<style>
    .ck-editor__editable_inline {
        min-height: 100px;
    }
</style>

<h2>Create Product</h2>
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
        <!-- enctype="multipart/form-data" : thêm cái này mới upload file được-->
        <form method="post" action="@Url.Action("Create")" enctype="multipart/form-data">
            <div class="form-group">
                <label>Tên sản phẩm</label>
                <input name="ProductName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Giá gốc</label>
                <input name="UnitPrice" class="form-control" />
            </div>
            <div class="form-group">
                <label>Giảm giá (%)</label>
                <input name="DiscountRatio" class="form-control" />
            </div>
            <div class="form-group">
                <label>Ngày hết hạn</label>
                <input value="@ViewBag.date" name="DiscountExpiry" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label>Danh mục</label>
                <select required name="CategoryId" class="form-control">
                    <option value="">--Chọn--</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Thêm ảnh</label>
                <input required name="ProductImageId" type="file" multiple="multiple" />
            </div>
            <div class="form-group">

                <label>Chính sách mua hàng</label>
                <textarea name="Description" id="editor" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Ngày tạo</label>
                <input readonly name="CreatedDate" class="form-control" value="@ViewBag.date" type="date" />
            </div>
            <div class="form-group">
                <label>Mã ID người tạo</label>
                <input readonly value="@ViewBag.UserID" name="CreatedBy" class="form-control" />
            </div>
            <div class="form-group">
                <label>Trạng thái sản phẩm</label>
                @Html.DropDownList("StatusId", (IEnumerable<SelectListItem>)ViewBag.StatusPro, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Chọn size</label>
                <br />
                @{
                    foreach (var item in listSize)
                    {
                        <label class="checkbox-inline">
                            <input name="SizeId" type="checkbox" value="@item.Id">&#160;&#160;@item.SizeName
                        </label>
                        <span>&#160;&#160;</span>
                    }
                }
            </div>
            <div class="form-group">
                <label>Chọn màu</label>
                <br />
                @{
                    foreach (var item in listColor)
                    {
                        <label class="checkbox-inline">
                            <input name="ColorId" type="checkbox" value="@item.Id">&#160;&#160;@item.ColorName
                        </label>
                        <span>&#160;&#160;</span>
                    }
                }
            </div>
            <div class="form-group">
                <button class="btn btn-success">Create</button>
            </div>
        </form>

    </div>
    <div class="col-sm-2">

    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>