@using PagedList.Mvc
@model PagedList.IPagedList<AptechShoseShop.Models.Entites.Product>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>Product Management</h2>

<a class="btn btn-info" href="/Admin/Products/Create">Create new product</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Information</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                string src = "";

                if (item.ProductImageId != null)
                {
                    src = "/data/products/" + item.Id + "/" + item.ProductImage.ImageUrl;
                }
                else
                {
                    src = "https://www.viettablet.com/images/companies/1/anh3/galaxy-s7-edge-01.jpg";
                }
                <tr id="HidePro-@item.Id">

                    <td>
                        <img src="@src" style="width:200px" />
                    </td>
                    <td>
                        <div>#ID: @item.Id</div>
                        <div>@item.ProductName</div>
                        <div>$@item.UnitPrice.ToString("N2")</div>
                        @if (@item.DiscountRatio > 0)
                        {
                            <div>Discount ratio: @item.DiscountRatio %</div>
                            <div>To: @item.DiscountExpiry.ToString("yyyy-MM-dd")</div>
                        }
                        <div>@item.Category.CategoryName</div>
                        <div>@item.StatusProduct.StatusName</div>
                        <div>Created by: @item.TbUser.Email</div>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id})"><i class="fas fa-edit"></i></a>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        <a href="@Url.Action("Detail", new { id = item.Id})"><i class="fas fa-info"></i></a>
                        @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                        <a class="btn btn-warning" onclick="DeletePro('@item.Id')">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<div class="row pt--30">
    <div class="col-md-12">
        @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
           page
        }))
    </div>
</div>

<script type="text/javascript">

    function DeletePro(id) {
            swal({
                title: "Are you sure?",
                text: "If deleted, you will not be able to restore it!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "@Url.Action("DeletePro")",
                            type: "post",
                            data: {
                                id: id
                            },
                            success: function (result) {
                                console.log(result);
                                if (result === "OK") {
                                    swal("Your photo has been deleted!", {
                                        icon: "success",
                                    });
                                    // ẩn doituong-id
                                    $("#HidePro-" + id).hide();
                                }


                                else {alert(result)}
                            }
                        });


                    } else {
                        swal("You have not deleted");
                    }
                });
    };
</script>
