@using PagedList.Mvc
@model PagedList.IPagedList<AptechShoseShop.Models.Entites.Order>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Orders Manager</h2>
<div >

    <p>
        <a class="btn btn-primary" href="@Url.Action("Create", "Orders")">Create new</a>
    </p>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table">
                <tr class="row">
                    <th class="col-2">
                        Status
                    </th>
                    <th class="col-6">
                        Customer's Information
                    </th>
                    <th class="col-4">Action</th>
                </tr>

                <tbody>
                    @foreach (var item in Model)
                    {
                        string bd = item.StatusId == 1 ? "badge-warning" : item.StatusId == 2 ? "badge-primary" :
                            item.StatusId == 3 ? "badge-success" : "badge-danger";
                        <tr id="HideOrder-@item.Id" class="row">
                            <td class="col-2">
                                #@item.Id <br />
                                <label class="badge @bd">@item.Status.StatusName</label>

                            </td>
                            <td class="col-6">
                                Name: @Html.DisplayFor(modelItem => item.CustomerName)<br />
                                Email: @Html.DisplayFor(modelItem => item.CustomerEmail)<br />
                                Number phone: @Html.DisplayFor(modelItem => item.CustomerPhone)<br />
                                Adress: @Html.DisplayFor(modelItem => item.CustomerAddress)<br />
                                @if (item.UserId > 0)
                                {
                                    <span>#Customer ID: @item.UserId</span><br />
                                }
                                Note: @item.OrderNote
                            </td>
                            <td class="col-4">

                                <a class="btn btn-success btn-circle" href="@Url.Action("Edit", new { id = item.Id})">
                                    <i class="fas fa-edit"></i>
                                </a>

                                @*<a class="btn btn-info btn-circle" href="#" data-toggle="modal" data-target="#myModal-@item.Id">
                                    <i class="fas fa-info-circle"></i>
                                </a>*@
                                <a class="btn btn-info btn-circle" href="@Url.Action("Detail", new { id = item.Id })">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                @*@Html.ActionLink("Chi tiết", "Detail", new { id = item.Id }) |*@
                                <a onclick="DeleteOrder('@item.Id')" class="btn btn-danger btn-circle" href="#">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                        @Html.Action("_OrderDetail", new { OrderId = item.Id})
                    }
                </tbody>

            </table>
        </div>
    </div>


    <div class="row pt--30">
        <div class="col-md-12">
            @Html.PagedListPager(Model, page => Url.Action("Index", new
            {
               page
            }))
        </div>
    </div>
</div>


<script type="text/javascript">

    function DeleteOrder(id) {
            swal({
                title: "Are you sure?",
                text: "If deleted, you will not be able to restore it!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "@Url.Action("Delete")",
                            type: "post",
                            data: {
                                id: id
                            },
                            success: function (result) {
                                if (result === "OK") {
                                    swal("Order has been deleted!", {
                                        icon: "success",
                                    });
                                    // ẩn doituong-id
                                    $("#HideOrder-" + id).hide();
                                }
                            }
                        });


                    } else {
                        swal("You have not deleted");
                    }
                });
    };
</script>

