@model IEnumerable<AptechShoseShop.Models.Cart.CartVM>

<div class="cart-block">
    <div class="cart-total">
        <span class="text-number">
            @Model.Count()
        </span>
        <span class="text-item">
            Shopping Cart 
        </span>
        <span class="price">
            $@ViewBag.GrandTotal
            <i class="fas fa-chevron-down"></i>
        </span>
    </div>
    <div class="cart-dropdown-block">
        <div class=" single-cart-block ">
            @foreach (var item in Model)
            {
                var ProductDefi = item.ProductId.ToString() + item.ColorName + item.SizeName;
                <div class="cart-product">
                    <a href="product-details.html" class="image">
                        <img src="@item.ImgUrl" alt="">
                    </a>
                    <div class="content">


                        <h3 class="title">
                            <a href="product-details.html">
                                @item.ProductName
                            </a>
                        </h3>
                        <p class="price"><span class="qty">@item.Quantity ×</span> $@item.UnitPrice</p>
                        <button onclick="removeItem('@item.ProductId', '@item.ColorName', '@item.SizeName')" class="cross-btn"><i class="fas fa-times"></i></button>
                    </div>

                </div>
            }



        </div>
        <div class=" single-cart-block ">
            <div class="btn-block">
                <a href="/cart" class="btn">View Cart <i class="fas fa-chevron-right"></i></a>
                <a href="/checkout/checkout" class="btn btn--primary">Check Out <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>